<h1>Home</h1>

<h2>I gotta piss</h2>
<p style='font-family: arial; font-size: 12px; margin-left: 25px;'>My money's in that office, right?<br />If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.<br />Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too.<br />Hey, look at me when I'm talking to you, motherfucker.<br />You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.<br />You understand? </p>
